/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

/*@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Fira Sans', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size:1.1em ;
    font-weight:800 ;
    padding-left: 30px;
}
.navigation a:hover {
   color: #601cfc;
}

section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/remi-thorel-iS85x_Tvszo-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;

}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color:#4c9eff ;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom:30px ;
}

.main-btn{
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    background-color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em  2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;

}

.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em ;
    font-weight: 800;
    margin-bottom: 30px;

}

.content{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}
.info {
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects{
    background-color:#000016 ;
}
.projects .content{
    margin-top: 30px;
}
.project-card {
    background-color: white;
    border:solid 1px white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin:20px;
    transition : 1.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
    width: 100%;
    max-height:20em ;
}

.project-info{
    padding:1em;
}
.porject-category{
    font-size: 0.8em;
    color: #000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover{
    color: #601cfc;
}
.contact .icon{
    font-size: 4.5em;
}

.contact .info h3{
    color: #000;
}

.contact .info p{
    font-size:1.5em ;
}

.footer{
    color: white;
    background-color: #000016;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color:#3a6cf4
}

.footer .social-icons a{
    font-size: 1.3em;
    padding:0 12px 0 0;
}
.navigation-small-screen a{
    color: #3a6cf4;
}

.dropdown-content {
    text-decoration: none;
    display: none;
    position: absolute;  
    z-index: 1000;
    background-color: #f0f0f0;
    right: 10px;
    padding:0px;
    border: solid 1px rgb(202, 196, 196);
    border-radius: 5px;
  }

  .dropdown-content a{
    float: none;
    text-decoration: none;
    color: #3a6cf4;
    display: block;
    padding: 6px 10px;

  }
  .navigation-small-screen:hover .dropdown-content {
    display: block;
  }

@media (max-width:1023px) {
    header{
        padding:12px 20px;
    }
    .navigation a {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
    section{
        padding:80px 20px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        flex: column;
        align-items: center;
    }

    .footer-title{
        font-size: 1em;
    }
    
    .footer .social-icons a{
        font-size: 1em;
        padding:0 6px 0 0;
    }
}
@media (max-width:375px) {
    *{
        font-size: 12px;
    }
    header{
        padding:12px 20px;
    }
    .navigation a {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
    section{
        padding:10px 5px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .social-icons{
        width: 100%;
        text-align: center;
    }
    .social-icons a{

        padding-right: 5px;

    }
    .social-icons i{
        font-size: 1.2em;
    }
    .content{
        flex: column;
        align-items: center;
    }
    .footer{
        display: block;
        text-align: center;
    }

    .footer-title{
        font-size: 1em;
        padding-bottom: 10px;
    }
    
    .footer .social-icons a{
        font-size: 1em;
        padding:0 6px 0 0;
    }
    .icon i{
        font-size: 0.6em;
    }
    .contact .info p {
        font-size:1em;
    }
    .project-card{
        margin:5px;
    }
    .contact .card{
        min-width: 180px;
        min-width: 180px;    
    }
    .main{
        min-height: 65vh;
        padding-top: 100px;
    }

    .title {
        text-align: center;
      }
}
@media (max-width:500px) {

    .navigation-wide-screen{
        display: none;
    }
    .navigation-small-screen{
        display: inline-block;
    }

}
@media (min-width:500px) {

    .navigation-wide-screen{
        display: block;
    }
    .navigation-small-screen{
        display:none;
    }

}

.losange-90{
    width  : 0;
    height : 0;
    position : relative;
    top : -25px;
    border : 25px solid transparent;
    border-bottom-color : green;
  }
 .losange-90:after {
    width  : 0;
    height : 0;
    content : '';
    position : absolute;
    left : -25px;
    top  : 25px;
    border : 25px solid transparent;
    border-top-color : green; 
  }
  .modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  .modal_content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
  }
  
  .modal_close {
    position: absolute;
    bottom: 245px;
    right: 6px;
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    width: 25px;
    height: 25px;
    background: rgb(202, 196, 200);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container{
    position: absolute;
    background: #f0f0f0;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 25px 5px 25px 25px;
}
.face{
    position: relative;
    width: 60px;
    height: 250px;
    background:#fce2c4;
    border: 4px solid  #ffa945;
    border-bottom: none;
    top: 100px;
    left: 220px;
    transform: rotate(4deg);
}
.face::before{
    content: ""; 
    position: absolute;
    top: 170px;
    left: -12px;
    height: 14px;
    width: 14px;
    background:#fce2c4;
    border-left: 6px solid  #ffa945;
    border-bottom: 4px solid  #ffa945;
    border-bottom-left-radius: 10px;
    transform: skew(-40deg);

}
.face::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 80px;
    right: -25px;  
    background:#fce2c4;
    border: 4px solid  #ffa945;
    border-left: none;
    border-top: none;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.nose{
    position:relative;
    background:#fce2c4;
    border: 4px solid  #ffa945;
    border-right: none;
    border-radius: 14px 0 0 14px;
    width: 50px;
    height: 50px;
    bottom: 90px;
    left: 172px;
    transform: rotate(4deg);
    z-index: 1;
}
.nose::after{
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-top: solid 4px #ffa945;
    background: #fce2c4;
    top: -4px;
    left: 20px;
}
.eye{
    position: relative;
    height: 44px;
    width: 40px;
    border: solid 3px #000;
    background: #fff;
    border-radius: 50%;
    bottom: 188px;
    left: 206px;
    transform: rotate(4deg);

}
.eye::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 12px;
    border: solid 4px #000;
    background: black;
    border-radius: 50%;
    top: 15px;
    left: 10px;
    transform: rotate(4deg);
}
.eye::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    top: 18px;
    left: 18px;
    transform: rotate(4deg);
    z-index: 1;
}
.eye1{
width: 40px;
height: 40px;
bottom: 224px;
left: 234px;
z-index: 3;
}
.eye1::after{
   top:10px;
}
.eye1::before{
top: 12px;
}
.hair{
    position: relative;
    z-index: 50;
}
.hair>div:nth-child(1){
    position: absolute;
    width: 100px;
    height: 30px;
    left: 190px;
    bottom: 290px;
    border-top: 20px solid green;
    border-radius: 50px 40px 0 0 ;
    transform: rotate(30deg);
}
.hair>div:nth-child(2){
    position: absolute;
    width: 100px;
    height: 30px;
    left: 210px;
    bottom: 290px;
    border-top: 20px solid green;
    border-radius: 50px 40px 0 0 ;
    transform: rotate(70deg);
}
.hair>div:nth-child(3){
    position: absolute;
    width: 80px;
    height: 30px;
    left: 230px;
    bottom: 295px;
    border-top: 20px solid green;
    border-radius: 50px 40px 0 0 ;
    transform: rotate(130deg);
}
.hair>div:nth-child(4){
    position: absolute;
    width: 100px;
    height: 30px;
    left: 210px;
    bottom: 270px;
    border-top: 20px solid green;
    border-radius: 50px 40px 0 0 ;
    transform: rotate(20deg);
}
.hair>div:nth-child(5){
    position: absolute;
    width: 50px;
    height: 30px;
    left: 260px;
    bottom: 270px;
    border-top: 20px solid green;
    border-radius: 50px 40px 0 0 ;
    transform: rotate(10deg);
}
